// Colors Variables

$green: #2eca6a;
$grey: #555555;
$white: #ffffff;
$black: #000000;

// Fonts Variables

$boldFont: 2.25rem;
$titleFont: 2.6rem;

// Padding VAriables

$sectionsPaddingTop: 8rem;
$mainBoxPaddingTop: 4rem;

